.timer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  width: 400px;
  min-width: 400px;
  background-color: #121212;
  font-family: 'LCDNova';
  color: red;
  border-radius: 5px;
  border: 7px solid #ccc;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-shrink: 0;
  min-width: 80px;
  font-size: 12px;
}

.value {
  font-size: 52px;
  font-weight: 400;
}

.sep {
  font-size: 46px;
}
